.app {
  text-align: center;
}

.app__button {
  font: inherit;
  font-weight: bold;
  padding: 0.5rem;
  color: white;
  background-color: rgb(210, 1, 1);
}

.app__input {
  margin-bottom: 0.5rem;
}

.calendar {
  margin: auto;
  min-width: 18rem;
  border: 1px rgb(224, 224, 224) solid;
}

.calendar__header {
  display: table-row-group;
  vertical-align: middle;
  border-bottom: 1px solid red;
  border-color: inherit;
}

.calendar__title {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 0.9rem;
  font-weight: bold;
}

.calendar__cell {
  cursor: pointer;
}

.calendar__cell:hover {
  background-color: rgb(224, 224, 224);
}

.calendar__cell--active {
  background-color: lightblue;
}

.calendar__cell--active:hover {
  background-color: lightblue;
}

.time__row {
  display: flex;
  flex-direction: column;
}

.time__cell {
  padding: 0.5rem;
}

.time__data {
  display: flex;
  justify-content: center;
}

.time__separator {
  display: flex;
  align-items: center;
}

.year__cell {
  padding: 1rem;
}
